<footer class="site-footer">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">About Us</h4>
                        </div>
                        <div class="widget-contet">
                            <img src="/static/images/bbin.png" class="footer-logo" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Useful Links</h4>
                        </div>
                        <div class="widget-contet footer-menu">
                            <ul class="menu">
                                <li><a href="#about">About</a></li>
                                <li><a href="#technology">Features</a></li>
                                <li><a href="#color">variations</a></li>
                                <li><a href="#engine">Specials</a></li>
                                <li><a href="#accessories">Accessories</a></li>
                                <li><a href="#book-ride">Book Ride</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Contact Info</h4>
                        </div>
                        <div class="widget-contet contact-info">
                            <div class="widget-contact-info">
                                <i class="fas fa-phone"></i>
                                <h3>Phone</h3>
                                <span><a href="+01(123) 456 7890">+01(123) 456 7890</a></span>
                            </div>
                            <div class="widget-contact-info">
                                <i class="fas fa-envelope-open"></i>
                                <h3>Email</h3>
                                <span><a href="mailtp:info@wheels.com">info@wheels.com</a></span>
                            </div>
                            <div class="widget-contact-info">
                                <i class="fas fa-map-marker-alt"></i>
                                <h3>Address</h3>
                                <span>3892 Fincham Road, <br>Los Angeles, CA 90017</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Subscribe</h4>
                        </div>
                        <div class="widget-contet">
                            <div class="newsletter-box">
                                <form method="post">
                                    <input type="email" name="email" placeholder="Enter Email Address" required="" autocomplete="off" class="form-control">
                                    <button type="submit" class="signup-btn">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-heading">
                            <h4 class="widget-title">Follow Us</h4>
                        </div>
                        <div class="widget-contet">
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">
            <div class="copyright-text">© 2023 Wheels. Design &amp; Developed by <a target="_blank" href="http://sacredthemes.net/">SacredThemes</a>.</div>
        </div>
    </div>
</footer>
<!--footer end-->   
</div>
<!--Main Wrapper End-->
<!-- Vendor -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/cascading-select.js"></script>        
<script src="/static/js/owl.carousel.min.js"></script>     
<script src="/static/js/onpagescroll.js"></script>
<script src="/static/js/wow.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/static/js/theme.js"></script>
<script src="/static/js/jquery.min.latest.js"></script>
<!-- Theme Custom -->
<script src="/static/js/custom.js"></script>
<script type="text/javascript">
jQuery(function () {
    setInterval(function () {
        jQuery("#home .overlay-bg").fadeOut("fast", function () {
            jQuery(this).static/css("background-image", "url(/static/images/bg-8-1.jpg)");
            jQuery(this).delay(500).fadeIn("fast");
        });
    }, 1000);
});
</script>
<script src="/static/js/jquery.event.move.js"></script>
<script src="/static/js/jquery.twentytwenty.js"></script>
<script src="/static/js/jquery.fancybox.min.js"></script>
<script>
$(function(){
$(".before-after-car-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.7});
});
</script>

</body></html>