<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="/owner_manage_bus">Bus</a>
<a href="/track">Track</a>
<a href="/login" onclick="return confirm('Are you sure you want to logout?')">Logout</a> -->


<!DOCTYPE html><html lang="en" xml:lang="en"><head>
    <!-- Basic -->    
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Spot</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    
    <!-- /static/favicon & bookmark -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&amp;display=swap" rel="stylesheet"> 

    <!-- Vendor /static/css -->
    <link rel="stylesheet" href="/static/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min5.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap5.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/twentytwenty.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" type="text/css">

    <!-- Theme /static/css -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/responsive.css" type="text/css">

    <!--[if lt IE 9]><script src="https://cdn/static/js.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv./static/js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/static/js/respond./static/js"></script><![endif]-->
    
</head>
<body>
     <!-- Preloader start -->
    <div id="st-preloader">
        <div class="st-preloader-wave"><img src="/static/images/st-loader.png" alt="preloader"></div>
    </div>
    <!-- preloader end -->

    <!--Main Wrapper Start-->
    <div class="wrapper" id="top">
        <!--Header Start -->
        <header class="main-header menu-absolute transparent light-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 logo">
                        <a href="/owner_home" title="Wheels Car">
                            <img src="/static/images/bbin.png" alt="car" class="regular-logo">
                            <img src="/static/images/bbin.png" alt="car" class="sticky-logo">
                        </a>
                        <div class="menu-icon">
                            <span class="top"></span>
                            <span class="middle"></span>
                            <span class="bottom"></span>
                        </div>
                    </div>
                    <div class="col-sm-9 menu-conainer">
                        <nav class="site-navigation">
                            <ul class="main-menu">
                                <!-- <li><a href="#about">About</a></li>
                                <li><a href="#technology">Features</a></li>
                                <li><a href="#color">variations</a></li>
                                <li class="dropdown">
                                    <a href="#engine">Specials</a> -->
                                    <!-- <ul class="sub-menu">
                                        <li><a href="#">Dropdown menu 1</a></li>
                                        <li><a href="#">Dropdown menu 2</a></li>
                                        <li><a href="#">Dropdown menu 3</a></li>
                                        <li><a href="#">Dropdown menu 4</a></li>
                                    </ul> -->
                                <!-- </li> -->
                                <li><a href="/owner_home">Home</a></li>
                                <li><a href="/owner_manage_bus">Manage Bus</a></li>
                                <li><a href="/track">Track</a></li>
                                <li><a href="/login" onclick="return confirm('Are you sure you want to logout?')">Logout</a></li>

                            </ul>
                            <ul class="header-social-media">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--Header End-->
        <!-- Content Section Start -->   
       <!-- <div class="main-container"> -->
            <!-- Hero Section Start -->
            <!-- <section id="home" class="hero-section light-text">
                <div class="section-background">
                    <div class="background-wrapper">
                        <div class="background-inner" style="background-image: url('/static/images/busbg2.jpg'); background-repeat: no-repeat;background-position: center center; background-size: cover; background-color:#040404;"></div>
                        <div class="overlay-bg"></div>
                    </div>
                </div>
                <div class="container double-top-padding double-bottom-padding">
                    <div class="row">
                        <div class="col-md-7 banner-content pt-5">
                            <h2 class="top-sub-heading">Smooth Rides, Happy Passengers</h2>
                            <h1 class="large-heading"><span><img src="/static/images/bbin.png" width="100px" alt=""></span> SPOT</h1>
                            <div class="text-block text-lead">
                                <p>Fast, Safe, and Reliable</p>
                            </div>
                            <div class="btn-wrapper"> -->
                                <!-- <a class="btn btn-primary btn-accent has-icon" href="#book-ride"><span>Book a Test Ride</span><i class="fas fa-arrow-right"></i></a> -->
                            <!-- </div>
                        </div>
                    </div>
                    <!-- <div class="pricing-text">Starting at <span>$32,799*</span></div> -->
                <!-- </div>
            </section>  -->